body {
  display: grid;
  grid-template-rows: 7.8vh 22.2vh 67.4vh 21vh;
}
.opt-log {
  grid-row: 2;
}

.opt-log > span {
  position: relative;
  left: 22.5vw;
  padding: 3.2vh 11.7vw 3.2vh 11.7vw;
  height: 8.5vh;
  margin-right: 2vw;
  color: white;
  top: 10.3vh;
}

#facebook {
  background-color: #315CDF;
  border-radius: 10px;
}

#google {
  background-color: #C83131;
  border-radius: 10px;
}

.formulario {
  position: relative;
  box-shadow: 0 2px 4px #4F4F4F;
  width: 26.5vw;
  height: 62.7vh;
  left: 36.3vw;
}

.formulario > input {
  position: relative;
  left: 2vw;
  top: 5vh;
  width: 22.6vw;
  height: 6vh;
  margin: 4vh 0 4vh 0;
  border-radius: 10px;
  border: none;
  box-shadow: 0 1px 2px #4F4F4F;
  z-index: 1;
}

.formulario > input[type="submit"] {
  position: relative;
  border-radius: 10px;
  letter-spacing: 0.3vw;
  width: 15vw;
  height: 6.6vh;
  background-color: #5B0D80;
  color: white;
  left: 6vw;
  border: none;
}

.formulario > .entrada {
  position: relative;
  top: 10.5vh;
  left: 4vw;
  z-index: 3;
  color: #5B0D80;
}

.formulario > #info {
  position: relative;
  top: 3vh;
  left: 12vh;
  color: #5B0D80;
}